$histogram-tooltip-width: 100;
$histogram-tooltip-heigth: 40;

.fdz-css-graph-histogram {
    margin-top: 80px;

    $color-blue-500: #2196f3;
    $color-blue-300: #64b5f6;
    $color-blue-200: #90caf9;
    $color-blue-100: #bbdefb;

    $color-blue-gray-600: #546e7a;
    $color-blue-gray-500: #607d8b;
    $color-blue-gray-300: #90a4ae;
    $color-blue-gray-100: #cfd8dc;

    $grey-6: #bfbfbf;

    $histogram-tooltip-z-index: 11;

    $tooltip-arrow-height: 6px;

    &-bars{
        rect {
            fill: rgba($color-blue-500, 0.4);
        }
        rect:hover {
            @extend .fdz-css-cursor-pointer;
            fill: rgba($color-blue-300, 0.4);
        }

        &--tooltip {
            background-color: $color-blue-gray-600;
            width: $histogram-tooltip-width + px;
            padding: 0.3em 0.1em 0.3em 0.1em;
            text-align: center;
            z-index: $histogram-tooltip-z-index;
            font-family: 'Roboto Mono', Arial, sans-serif;

            &:after {
                top: 100%;
                left: 50%;
                border: solid transparent;
                content: " ";
                position: absolute;
                pointer-events: none;
                border-top-color: $color-blue-gray-600;
                border-width: $tooltip-arrow-height;
                margin-left: -$tooltip-arrow-height;
            }

            &-value {
                color: $color-blue-200;
                font-size: 10px;
                margin-bottom: 2px;
            }

            &-dates {
                color: $color-blue-gray-100;
                font-size: 8px;
            }
        }

    }

    &-axis-x {
        // d3v4 provides default styles and overrides previously defined font.
        font-family: 'Roboto Mono', Arial, sans-serif;
        font-size: 7pt;

        .domain{
            stroke:$color-blue-gray-300;
        }

        text {
            fill: $color-blue-gray-300;
            text-anchor: right;
        }

        line {
            stroke: $color-blue-gray-300;
        }
    }

    &-axis-y {
        // d3v4 provides default styles and overrides previously defined font.
        font-family: 'Roboto Mono', Arial, sans-serif;
        font-size: 7pt;

        .domain{
            stroke: transparent;
        }

        text {
            fill: $color-blue-gray-300;
            text-anchor: start;
        }

        line {
            stroke: $color-blue-gray-300;
        }
    }

    &-zoom {
        cursor: move;
        fill: none;
        pointer-events: all;
    }

    &-brush {
        rect {
            &.selection {
                fill: $color-blue-100;
                fill-opacity: 0.3;
                stroke-width: 0;
            }

            &.handle {
                fill: $color-blue-gray-500;
                width: 5px;
                stroke: $color-blue-gray-500;
                stroke-width: 1px;
            }
        }
    }

    &-density {
        &__canvas {
            position: relative;
        }

        &__wrapper {
            display: grid;
            grid-template-columns: auto auto;
        }
    }

    .fdz-css-cursor-pointer {
        cursor: pointer;
    }

    .fdz-css-play-btn {
        line-height: 1.5;
        padding: 0 15px;
        border-radius: 4px;
        user-select: none;
        transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
        position: relative;
        box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
        cursor: pointer;
        top: -4px;


        background: transparent;
        border-color: transparent;
        color: $grey-6;
        font-size: 18px;

        &:hover, &:active, &:focus {
            background: transparent;
            border-color: transparent;
        }

        &:hover {
            color: #40a9ff;
        }

        .anticon {
            transition: margin-left 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
            line-height: 1;
            pointer-events: none;
            vertical-align: -0.125em;
            
            svg {
                line-height: 1;
            }
        }
    }
}

:export {
    tooltipWidth: $histogram-tooltip-width;
    tooltipHeight: $histogram-tooltip-heigth;
}